@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}﻿
<h4>Search For Flights</h4>
<hr />
<div class="col">
    <div class="col-md-4">
        <form asp-action="Flights">


            <div class="form-group">
                <label name="source" class="control-label">
                    From :
                </label>
                <input name="source" class="form-control" />
            </div>
            <div class="form-group">
                <label name="destination" class="control-label">
                    To :
                </label>
                <input name="destination" class="form-control" />
            </div>
            <div class="form-group">
                <label name="departureTime" class="control-label">
                    Departure
                </label>
                <input type="date" name="departureTime" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
           
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}